{#
/**
 * @file media_auto_tag_person_map.html.twig
 * Default theme implementation to present Person map data.
 *
 * This template is used when viewing Person map pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_media_auto_tag_person_map()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('media_auto_tag_person_map') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
